/ReadDataLib.workspace/Debug/*
/ReadDataLib.workspace/ipch/*
/ReadDataLib.workspace/Release/*
/ReadDataLib.workspace/ReadDataLib.sdf
/ReadDataLib.workspace/ReadDataLib.suo
/ReadDataLib.workspace/ReadDataLib/Debug/*
/ReadDataLib.workspace/ReadDataLib/Release/*
/ReadDataLib.workspace/ReadDataLibTest/Debug/*
/ReadDataLib.workspace/ReadDataLibTest/Release/*

/3DHyperCube.workspace/Debug/*
/3DHyperCube.workspace/Release/*
/3DHyperCube.workspace/3DHyperCube/3DHyperCube.pro
/3DHyperCube.workspace/3DHyperCube/3DHyperCube.pro.user.18
/HyperView.workspace/Debug/*
/HyperView.workspace/Release/*
/HDFFormatLib.workspace/Debug/*
/HDFFormatLib.workspace/Debug1/*
/HDFFormatLib.workspace/Release/*
/Peleng/Peleng.pro.user
/Debug/*